<div class="general-container">
  <div class="header">
    <div></div>
    <%= image_tag "logo-titles.png", class: "logo-title" %>
    <h1 class="text-center">TABLEAU DE BORD</h1>
    <%= image_tag "logo-titles.png", class: "logo-title"%>
    <div></div>
  </div>

  <div class="container-fluid">
    <div class="row sections">
      <div class="col-12 col-md-6 m-auto mb-5">
        <div class="section-card w-100">
          <div class="subheader w-100">
            <div></div>
            <h2 class="text-center">CONTACT</h2>
            <div></div>
          </div>

          <div class="size-highlight">
            <p class="mb-2">
              <i class="fa-solid fa-angle-right"></i>
              Horaires &nbsp
              <%= link_to '<i class="fa-solid fa-pen"></i>'.html_safe, edit_information_path(@schedule) %>
              </p>
            <p class="mb-2">
              <i class="fa-solid fa-angle-right"></i>
              Disponibilités &nbsp
              <%= link_to '<i class="fa-solid fa-pen"></i>'.html_safe, edit_information_path(@availability) %>
            </p>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 m-auto mb-5">
        <div class="section-card w-100">
          <div class="subheader w-100">
            <div></div>
            <h2 class="text-center">INFORMATIONS</h2>
            <div></div>
          </div>

          <div class="size-highlight">
            <p class="mb-2">
              <i class="fa-solid fa-angle-right"></i>
              Paragraphe 1 &nbsp
              <%= link_to '<i class="fa-solid fa-pen"></i>'.html_safe, edit_information_path(@paragraph_1) %>
            </p>
            <p class="mb-2">
              <i class="fa-solid fa-angle-right"></i>
              Paragraphe 2 &nbsp
              <%= link_to '<i class="fa-solid fa-pen"></i>'.html_safe, edit_information_path(@paragraph_2) %>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row sections">
      <div class="col-12 m-auto mb-5">
        <div class="section-card w-100">
          <div class="subheader w-100">
            <div></div>
            <h2 class="text-center">POSTS</h2>
            <div></div>
          </div>

          <p class="size-highlight mb-5"><%= link_to "Créer un nouveau post", new_post_path, class: "dashboard-btn" %></p>

          <div class="size-highlight">
            <% @posts.each do |post| %>
              <div class="d-flex">
                <p class="mb-2">
                  <i class="fa-solid fa-angle-right"></i> <%= post.title.upcase %>&nbsp
                </p>
                <div class="d-flex">
                  &nbsp&nbsp
                  <%= link_to '<i class="fa-solid fa-pen"></i>'.html_safe, edit_post_path(post) %>&nbsp&nbsp
                  <%= button_to '<i class="fa-solid fa-trash-can"></i>'.html_safe, post,
                    method: :delete,
                    form: {
                      data: { turbo_confirm: "Vous allez supprimer '#{post.title}', êtes vous sûre ?" }
                    },
                    class: "delete-btn"
                  %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="account-btns">
        <%= link_to "Modifier mon compte", edit_user_registration_path, class: "btn-cancel log-out-btn" %>
        <%= button_to "Se déconnecter", destroy_user_session_path, method: :delete, class: "btn-cancel log-out-btn" %>
      </div>
    </div>
  </div>






</div>
