<div class="general-container">
  <div class="header">
    <div></div>
    <%= image_tag "logo-titles.png", class: "logo-title" %>
    <h1 class="text-center">MOT DE PASSE OUBLIÉ ?</h1>
    <%= image_tag "logo-titles.png", class: "logo-title"%>
    <div></div>
  </div>

  <div class="forms-content m-auto">
    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs mb-5">
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
      </div>

      <div class="form-actions text-center m-auto">
        <%= f.button :submit, "Send me reset password instructions", class: "form-btn mb-4" %>
        <div class="d-flex flex-column justify-content-between align-items-center">
         <%= render "devise/shared/links" %>
        </div>
      </div>
    <% end %>
